header {
    margin-top: 30px;
    height: 150px;
    position: relative;
}

body {
    background-image: url(backIMG2.jpg);
    background-size:cover;
    height: 1350px;
    width: 1400px;
    
}
p{
    font-family: sans-serif;
    font-size: 15px;
    color: white;
    text-align: left;
    width: 660px;
    position: static;
    margin-top: 0px;
    margin-left: 15px;
}


.email{
    text-align: center;
    font-size: 17px;
}

.intIMG{
    width: 430px;
    height: 375px;
    margin-left: 150px;
}
.social{
    width: 280px;
    height: 100px;
    margin-left: 800px;
    position: absolute;
    margin-top: 0px;
}
.social1{
    color:white;
    font-family: sans-serif;
    font-size: 15px;
}
hr.line1{
    height: 25px;
	border: 0;
	box-shadow: 0 10px 10px -10px #0B34A2 inset;
    width: 600px;
    margin-left: 430px;
    margin-top: 10px
}

.Titel {
    font-family:sans-serif;
    font-size: 45px;
    color: #0B34A2;
    margin-left: 620px;
    margin-top: 50%;
    font-weight: 300;
    text-shadow: 5px 5px 5px black;
}

.Titel2{
    font-family: sans-serif;
    font-size: 25px;
    color: #0B34A2;
    margin-left: 535px;
    font-weight: 300;
    text-shadow: 5px 5px 5px black;
}

* {
    padding: 0px;
    margin: 0px;
}

#Main {
    margin-top: 0px;
    width: 100%;
    height: 365px;
}

#Nav {
    background-color: #0B34A2;
    width: 1060px;
    height: 80px;
    line-height: 80px;
    color: white;
    font-family: sans-serif;
    margin-left: 220px;
    position: absolute;
    margin-top: 0px;
    opacity: 0.8;
}

#NavNL{
    background-color: #0B34A2;
    width: 1060px;
    height: 80px;
    line-height: 80px;
    color: white;
    font-family: sans-serif;
    margin-left: 220px;
    position: absolute;
    margin-top: 0px;
    opacity: 0.8;
}

.imprback {
    margin-left: 200px;
    width:1100px;
    height: 400px;
}


#Nav ul li {
    list-style-type: none;
    display: inline-block;
}

#NavNL ul li{
    list-style-type: none;
    display: inline-block;
}

#Nav ul li a {
    color: white;
    text-decoration: none;
    padding: 59.5px;
    text-align: left;
}

#NavNL ul li a {
    color: white;
    text-decoration: none;
    padding: 49.7px;
    text-align: left;

}

#Nav ul li a.active {
    color: blue;
    background-color: white;
    padding:31px;
}

#NavNL ul li a.active{
    color: blue;
    background-color: white;
    padding:31px;
}

#Nav ul li:hover {
    background: darkred;
    transition: all 0.45s;
}

#NavNL ul li:hover {
    background: darkred;
    transition: all 0.45s;
}

#Nav ul li a: hover{
    border-style: groove;
}

#NavNL ul li a: hover {
    border-style: groove;
}

.pagina{
    height: 900px;
    background-color:#0B34A2;
    margin-left: 200px;
    margin-right: 250px;
    margin-top: 33.9px;
    position: relative;
    background: rgba(0, 0, 184, 0.6);
    width: 1100px;
    
}
.pagina2{
    height: 700px;
    background-color:#0B34A2;
    margin-left: 200px;
    margin-right: 250px;
    margin-top: 33.9px;
    position: relative;
    background: rgba(0, 0, 184, 0.6);
    width: 1100px;
}

table, td, th {
    border: 1px solid white;
    border-collapse: collapse;
    color: white;
}

.horaires {
    
    width: 700px;
    height: 300px;
    font-size: 30px;
    position: absolute;
    margin-top: 100px;
    margin-left: 100px;
    
}

th {
    height: 50px;
}

.tarifs{
    height: 250px;
    width:600px;
    font-size: 18px;
    margin-left: 12px;
    
}
.tarifs1{
    height: 200px;
    width: 150px;
    font-size: 18px;
    margin-top: 12px;
}
.tarifs2{
    height: 200px;
    width:150px;
    font-size: 18px;
    margin-left: 155px;
    margin-top: -200px;
    position: absolute;
}

.tarifs3{
    height: 200px;
    width:150px;
    font-size: 18px;
    margin-left: 310px;
    margin-top: -200px;
    position: absolute;
}

.tarifs4{
    height: 200px;
    width:150px;
    font-size: 18px;
    margin-left: 465px;
    margin-top: -200px;
    position: absolute;
}
.tarifs5{
    height: 300px;
    width:150px;
    font-size: 18px;
    margin-left:625px;
    margin-top: -461px;
    position: absolute;
}

.Maps{
    margin-left: 20px;
    margin-top: 30px;
    position: absolute;
}

.TitelVoorpagina{
    color: #0B34A2;
    font-size: 90px;
    text-align: center;
    font-family: sans-serif;
    text-shadow: 10px 5px 5px black;
}
.TitelVoorpagina2{
    text-align: center;
    color: white;
    font-size: 35px;
    margin-top: 50px;
    
}
.winkelVoorpagina{
    margin-left: 400px;
    margin-top: 0px;
    position: absolute;
    
}

hr.line2{
    height: 25px;
	border: 0;
	box-shadow: 0 10px 10px -10px #0B34A2 inset;
    width: 600px;
    margin-left: 400px;
    margin-top: 0px;
}
#Buttons{
    height: 200px;
    width: 450px;
    margin-top: 399px;
    margin-left: 610px;
}
.button,.button2{
    line-height: 50px;
    text-decoration: none;
    font-size: 19px;
    font-family: sans-serif;
    position: static;
    display:inline-block;
    padding:8px;
    text-align: center;
    color: white;
    background-color: #0B34A2;
    
}

.button:hover,.button2:hover{
    
    box-shadow: 5px 5px 5px white;
    font-size: 23px;
    
}

.opuren{
    margin-top: 55px;
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 35px;
    position:absolute;
    margin-left: 100px;
    
}

form{
    position: absolute;
    max-width: 450px;
    margin-left: 790px;
    margin-top: 180px;
}

label{
    display: block;
    margin-bottom: 20px;
}

span{
    display: block;
    color: white;
    font-size: 15px;
}
input{
    width: 290px;
    height: 20px;
}

textarea{
     width: 290px;
    height: 90px;
}

.contact{
    font-size: 18px;
    width: 400px;
    position: relative;
    display: block;
}

.copieurs{
    height: 350px;
    margin-left: 40px;
}

.stock{
    width: 300px;
    margin-left: 260px;
    height: 650px;
}

























