body {
    background-color: black;
}

h1 {
    color: white;
    text-shadow: white;
}

h2 {
    color: white;
}
p{color: white
    
}

b:hover{ color:white;
         
    
}
b{ border-style: dotted
   
}

h2:hover{}
